<div ng-init="slide='one'; wave='one'">
  <h2>
    ngSwitch / ngInclude Animations
    <div class="pull-right" ng-include="'./templates/actions_tpl.html'"></div>
  </h2>

  <div ng-hide="hidden" ng-animate="{show: 'fade-show', hide: 'fade-hide'}">
    <button class="btn btn-primary" ng-click="slide='one'">Slide 1: Why AngularJS?</button>
    <button class="btn btn-danger" ng-click="slide='two'">Slide 2: Alternatives</button>
    <button class="btn btn" ng-click="slide='three'">Slide 3: Extensibility</button>
    <div ng-switch="slide" ng-animate="{enter: 'slide-enter', leave: 'slide-leave'}" class="slide-frame">
      <div ng-switch-when="one">
        <h1>Why AngularJS?</h1>

        <p>
          HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
        </p>
      </div>
      <div ng-switch-when="two">
        <h1>Alternatives</h1>

        <p>
          Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
        </p>
      </div>
      <div ng-switch-when="three">
        <h1>Extensibility</h1>

        <p>
          AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how
        </p>
      </div>
    </div>

    <button class="btn btn-primary" ng-click="wave='one'">Slide 1: Why AngularJS?</button>
    <button class="btn btn-danger" ng-click="wave='two'">Slide 2: Alternatives</button>
    <button class="btn btn" ng-click="wave='three'">Slide 3: Extensibility</button>
    <div ng-switch="wave" ng-animate="{enter: 'wave-enter', leave: 'wave-leave'}" class="slide-frame">
      <div ng-switch-when="one">
        <h1>Why AngularJS?</h1>

        <p>
          HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
        </p>
      </div>
      <div ng-switch-when="two">
        <h1>Alternatives</h1>

        <p>
          Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
        </p>
      </div>
      <div ng-switch-when="three">
        <h1>Extensibility</h1>

        <p>
          AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how
        </p>
      </div>
    </div>
  </div>
</div>
